<mat-toolbar color="primary" class="dashboard-header">
  <div class="header-content">
    <div class="title-container">
      <span class="title" routerLink="/dashboard">QuadraGo</span>
      <span class="separator">|</span>
      <span class="subtitle">{{ subtitle }}</span>
    </div>

    <div class="button-container">
      @for (item of menu; track item) {
        <!-- Botão de NAVEGAÇÃO (tem link) -->
        @if (item.link) {
          <button
            mat-button
            class="main-button"
            [routerLink]="item.link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="item.exact ? { exact: true } : { exact: false }"
            >
            {{ item.label }}
          </button>
        } @else {
          <button
            mat-button
            class="main-button"
            (click)="onMenuClick(item)"
            >
            {{ item.label }}
          </button>
        }
        <!-- Botão de AÇÃO (ex.: Sair) -->
      }
    </div>
  </div>
</mat-toolbar>

<div class="main">
  <main class="dashboard-content">
    <router-outlet></router-outlet>
  </main>
</div>
