<header>
  <mat-toolbar color="primary" class="header-toolbar">
    <div class="brand-container">
      <!-- <img src="/assets/imagens/logo2.png" alt="QuadraGo Logo" class="logo"> -->
      <span class="title">QuadraGo</span>
      <span class="subtitle">Gestão Esportiva</span>
    </div>
    <span class="spacer"></span>
    <button mat-stroked-button color="accent" routerLink="/login">Fazer Login</button>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <p>&copy; 2025 QuadraGo. Todos os direitos reservados.</p>
</footer>


<!-- <header>
  <mat-toolbar color="primary">
    <div class="title-container">
      <img src="assets/imagens/logo2.png" alt="QuadraGo" class="logo">
      <span class="subtitle">Gestão Esportiva</span>
    </div>
    <span class="spacer"></span>
    <button mat-stroked-button color="accent">Login</button>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© 2025 QuadraGo</p>
</footer>
-->
