<div class="p-4">
  <h2>Alunos</h2>

  <mat-form-field appearance="outline" class="w-full mb-4">
    <mat-label>Buscar por nome</mat-label>
    <input matInput [(ngModel)]="filtro" placeholder="Digite o nome do aluno" />
  </mat-form-field>

  <table mat-table [dataSource]="alunosFiltrados" class="mat-elevation-z8 w-full">

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.nome }} </td>
    </ng-container>

    <ng-container matColumnDef="plano">
      <th mat-header-cell *matHeaderCellDef> Plano </th>
      <td mat-cell *matCellDef="let aluno"> {{ aluno.plano }} </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let aluno">
        <button mat-icon-button color="primary" (click)="editar(aluno)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="excluir(aluno)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['nome', 'plano', 'acoes']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nome', 'plano', 'acoes']"></tr>
  </table>
</div>
