.dashboard-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px; // Espaçamento entre title e subtitle
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #0c2e5b;

  &:hover {
    cursor: pointer;
  }
}

.separator {
  font-size: 2rem;
  color: rgba(36, 35, 35, 0.8);
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(36, 35, 35, 0.8);
  padding-left: 1.2rem;
}

button[mat-button] {
  transition: all 0.3s ease;
  border-radius: 4px;

  &:hover {
    background-color: #14b536;
    color: white;
    border-color: #14b536;
  }
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px 20px;
  margin-top: 10px;
}

.main-button {
  min-width: 100px;
  text-transform: none;
  color: #1976d2;

  &:hover {
    background-color: rgba(25, 118, 210, 0.1);
  }

  &.active { /* rota ativa */
    background-color: rgba(25, 118, 210, 0.12);
    color: #0f2167;
    font-weight: 600;
  }
}

.main {
  background-color: #f9fafc;
}

.dashboard-content {
  padding: 20px;
  min-height: calc(100vh - 64px);
  max-width: 1200px;
  margin: 0 auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .dashboard-header { padding: 10px; }

  .header-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .title-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .title { font-size: 1.3rem; }
  .subtitle { font-size: 0.8rem; }

  .dashboard-content { padding: 10px; }

  .button-container {
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
  }

  .main-button { width: 100%; }
}
